.dashboard-body{
    background-color: rgb(224, 236, 232);
    height: 90vh;
}

.container-class{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 2px;
    padding-top: 20px;
}

.icon-item{
    width: 6em !important;
    height: 5em !important;
    color: cornflowerblue;
}

.item{
    background-size: cover;
    margin-left: 50px;
    background-color: #fefefe;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    color: cornflowerblue;
}

.icon-text{
    font-size: 18px;
    color: #999;
    font-weight: 400;
    text-align: center;
}
