
.input-container{
    gap: 24px;
}

.inputfeild{
    width: 40%;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1rem;
    background-color: #fdf2e9;
    border-radius: 9px;
    border: none;
    box-shadow: 0 1.2px 2px rgb(0 0 0 / 10%);
}

.btn-1 {
    display: inline-block;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 9px;
    transition: all 0.3s;
    align-self: end;
    background-color: #7f3f0a;
    color: #fdf2e9;
    margin-left: 24px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.label{
    font-size: 2rem;
    font-weight: 500;
    display: block;
    margin-bottom: 1.2rem;
}

.messageText{
    font-size: 14px;
    color: #d52626;
}